* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./backgroun.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.coin-img {
    border-radius: 50%;
}
.coin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:rgb(255, 145, 0);
    border-radius: 50%;
}
.coin-text {
    font-family: dana;
    font-size: 20px;
}

.score-container{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    background-color: #0a0337;
    width: 250px;
    height: 100px;
    position: absolute;
    left: 500;
    bottom: 0;
    border-radius: 30px;

    box-shadow: #b8a62a 1px 1px 20px 1px;

}

.coin:hover {
    transform: skew(5deg);
}

.coin-name {
    box-shadow: #f0d000 -6px -3px 20px 7px;
    border-bottom-right-radius: 90px;


    width: 130px;
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;
   
}
.coin-name-text{
    color: #fafafa;
    font-size: 50px;
}
.score {
    color: rgb(56 255 7);
}



.message {
    border: 1px solid red;
    color: white;
    position: absolute;
    top:230;
    display: none;
    border-radius: 20px;
}
